@import './bds-theme.scss';
@import '~@angular/material/theming';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'LatoLatinWebLight', sans-serif;
}

.bds-header-title {
  font-family: 'Merienda', cursive;
  color: mat-color($bds-primary, 500);
}

.bds-title {
  font-family: 'LatoLatinWebMedium', sans-serif;
  font-weight: 400; 
}

.bds-margin--lt-sm {
  margin-top: 56px;
}

.bds-margin--gt-xs {
  margin-top: 64px;
}

mat-sidenav-content > main > section {
  background-color: mat-color($bds-primary, 50);
}
