@import './bds-theme.scss';
@import '~@angular/material/theming';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato Light', sans-serif;
}

.bds-header-title {
  font-family: 'Merienda', cursive;
  color: mat-color($bds-primary, 500);
}

.bds-title {
  font-family: 'Lato Light', sans-serif;
  font-weight: 400; 
}