@import '../../../../bds-theme.scss';
@import '~@angular/material/theming';

.bds-nav-logo {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 16px 0;
  margin: 0;
  background-color: mat-color($bds-primary, 50) !important;
}

.bds-nav-logo:focus {
  outline: none;
}

.bds-nav-logo > img {
  height: 150px;
  width: auto;
  display: block;
  transform-origin: 50% 0;
  transform: scale(1.2);
}

.bds-nav-logo-text {
  text-align: center;
  font-weight: 100;
  font-size: 34;
  margin-top: 40px;
  margin-bottom: 0;
}

.bds-nav-logo-text:hover {
  cursor: pointer;
}
