@import '../../../bds-theme.scss';
@import '~@angular/material/theming';

.bds-footer--colors {
  color: mat-color($mat-grey, 50);
  background-color: mat-color($bds-primary, 400);
}

.bds-footer--font {
  font-family: "Lato Light", sans-serif;
  font-size: 16px;
  font-weight: 100;
}

.bds-listIcon--color {
  color: mat-color($mat-grey, 200);
}
