<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around stretch" class="bds-footer-container" fxLayoutFill>
  <div fxFlex class="bds-footer-containers">
    <img [src]='this.logoBullesdeSoi' alt="logo bullesdesoi" class="bds-footer-logo" fxHide.lt-md="true">
  </div>
  
  <div fxFlex class="bds-footer-containers" [ngClass.lt-md]="{ 'bds-footer-containers' : false, 'bds-footer-containers--lt-md' : true }">
    <mat-list fxLayout="column" fxLayoutAlign.lt-md="center center">
      <mat-list-item>
        <mat-icon matListIcon>person</mat-icon>
        <h3 matLine class="bds-footer-font">Patricia Pesce-Lavaux</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>map</mat-icon>
        <p matLine class="bds-footer-font">53, bis boulevard Ropbespierre</p>
        <p matLine class="bds-footer-font">78300 Poissy</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>phone</mat-icon>
        <p matLine class="bds-footer-font">07 64 09 87 68</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>email</mat-icon>
        <p matLine class="bds-footer-font">contact@bullesdesoi.fr</p>
      </mat-list-item>
    </mat-list>
  </div>
  <div fxFlex fxFlex="33">
    <bds-map></bds-map>
  </div>
</div>