<div class="bds-viewer-nav">
  <div class="bds-categories-nav">
    <nav *ngFor="let category of navItems.getCategories()">
      <button (click)="toggleExpand(category.id)"> {{ category.name }}
        <mat-icon *ngIf="!getExpanded(category.id)">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="getExpanded(category.id)">keyboard_arrow_up</mat-icon>
      </button>
      <ul [@bodyExpansion]="getExpandedState(category.id)" id="panel-{{ category.id }}">
        <li *ngFor="let item of category.items">
          <a
            [routerLink]="item.route"
            routerLinkActive="bds-nav-item-selected"
            (click)="sidenavClose()"
          > {{ item.name }}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>