<div fxLayout="column" class="bds-home-description-container">
  <div fxLayout="row" fxLayout.lt-md="column" class="bds-home-description-row">
    <div fxFlex="40" fxLayoutAlign="center center">
      <img src="../../../assets/pages/photo-description-sophrologie.png" alt="description sophrologie" class="bds-circular-photo" [ngClass.lt-md]="{'bds-circular-photo' : false, 'bds-circular-photo--lt-md' : true }">
    </div>
    <div fxFlex="60">
      <div class="bds-home-description-title">
        <h3>Description</h3>
      </div>
      <div class="bds-home-description-paragraphe">
        <p>
          La sophrologie est une méthode de thérapie brève créée par le neuro-psychiatre <a href="https://fr.wikipedia.org/wiki/Alfonso_Caycedo">Alfonso Caycedo</a> en 1960. Elle agit sur le corps et le mental et s'inspire de diverses techniques occidentales et orientales telles, entre autres, l'hypnose, les méthodes
          <a href="https://fr.wikipedia.org/wiki/Méthode_Coué">Coué</a> et <a href="https://fr.wikipedia.org/wiki/Roger_Vittoz">Vittoz</a>, le yoga indien ou encore le zen japonais. Cette pratique est destinée à favoriser l'émergence de vos ressentis
          et la prise de conscience de votre force intérieure. Elle permet de trouver ou retrouver son bien-être, de développer son
          potentiel, et donc de gérer des problématiques trés étendues d'ordre thérapeutique ou du développement personnel.
        </p>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" class="bds-home-description-row">
    <div fxFlex="40" fxLayoutAlign="center center">
      <img src="../../../assets/pages/photo-pratique-sophrologie.png" alt="description sophrologie" class="bds-circular-photo" [ngClass.lt-md]="{'bds-circular-photo' : false, 'bds-circular-photo--lt-md' : true }">
    </div>
    <div fxFlex="60">
      <div class="bds-home-description-title">
        <h3>Pratique</h3>
      </div>
      <div class="bds-home-description-paragraphe">
        <p>
          La pratique de la sophrologie est basée sur des exercices associant les mouvements doux, la respiration contrôlée, l'alternance
          de contractions, relâchements musculaires appelés "Relaxations Dynamiques" et sur des temps de détente statique utilisant
          la visualisation d'images positives nommés "Sophronisations". Ces temps d'exercices sont ponctués de temps d'échange avec
          le sophrologue afin de verbaliser les ressentis, favoriser la prise de conscience et adapter au mieux l'accompagnement. La
          finalité de ce processus est de vous conduire à l'aboutissement de votre objectif et de vous rendre autonome grâce à l'appropriation
          simple de ces "outils". En effet, l'entrainement personnel fait également partie intégrante de la thérapie.
        </p>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" class="bds-home-banner-container">
    <div class="bds-home-banner-texte">
      <blockquote>
        <p>Reveiller son potentiel et se révéler enfin soi</p>
      </blockquote>
    </div>
  </div>
  
</div>