<mat-sidenav-container>

  <mat-sidenav #sidenav mode="over" fixedInViewport="true">
    <bds-sidenav-logo></bds-sidenav-logo>
    <bds-sidenav-menu (closeSidenav)="sidenav.close()"></bds-sidenav-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <main>
        <bds-navbar (isSidenavToggle)="sidenav.toggle()"></bds-navbar>
    </main>
    <section #router fxlayout="column" fxLayoutAlign="start stretch">
      <router-outlet></router-outlet>
    </section>
    <footer>
      <bds-footer></bds-footer>
    </footer>
  </mat-sidenav-content>
  
</mat-sidenav-container>