<mat-sidenav-container>

  <mat-sidenav #sidenav mode="over" fixedInViewport="true" role="navigation">
    <bds-sidenav-logo routerLink="/" (click)="sidenav.close()"></bds-sidenav-logo>
    <bds-sidenav-menu (closeSidenav)="sidenav.close()" [params]="params"></bds-sidenav-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <main fxLayout="column" fxLayoutAlign="start stretch" class="bds-main-wrap">
      <bds-navbar (isSidenavToggle)="sidenav.toggle()"></bds-navbar>
      <section #router fxFlex="1" [ngClass.lt-sm]="{'bds-margin--lt-sm': setSectionMargin(this.url)}" [ngClass.gt-xs]="{'bds-margin--gt-xs': setSectionMargin(this.url)}">
        <router-outlet></router-outlet>
      </section>
      <footer>
        <bds-footer></bds-footer>
      </footer>
    </main>
  </mat-sidenav-content>
  
</mat-sidenav-container>